// dart file: features/auth/cubits/forgot_password_cubit/forgot_password_state.dart.tmpl
part of 'forgot_password_cubit.dart';

class ForgotPasswordState extends Equatable {
  const ForgotPasswordState({
    this.email = const EmailInput.pure(),
    this.status = FormzStatus.pure,
    this.errorMessage,
  });

  final EmailInput email;
  final FormzStatus status;
  final String? errorMessage;

  ForgotPasswordState copyWith({
    EmailInput? email,
    FormzStatus? status,
    String? errorMessage,
  }) {
    return ForgotPasswordState(
      email: email ?? this.email,
      status: status ?? this.status,
      errorMessage: errorMessage ?? this.errorMessage,
    );
  }

  @override
  List<Object?> get props => [email, status, errorMessage];
}
