// dart file: core/form/password_input.dart.tmpl
import 'package:formz/formz.dart';

enum PasswordValidationError { empty, tooShort, invalid }

class PasswordInput extends FormzInput<String, PasswordValidationError> {
  const PasswordInput.pure() : super.pure('');
  const PasswordInput.dirty([String value = '']) : super.dirty(value);

  static final _passwordRegExp = RegExp(r'^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$');

  @override
  PasswordValidationError? validator(String value) {
    if (value.isEmpty) return PasswordValidationError.empty;
    if (value.length < 8) return PasswordValidationError.tooShort;
    return _passwordRegExp.hasMatch(value) ? null : PasswordValidationError.invalid;
  }
}
