part of 'create_password_cubit.dart';

enum CreatePasswordStatus { initial, editing, loading, success, error }

class CreatePasswordState extends Equatable {
  final CreatePasswordStatus status;
  final PasswordInput password;
  final ConfirmedPasswordInput confirmedPassword;
  final String? error;

  const CreatePasswordState({
    this.status = CreatePasswordStatus.initial,
    this.password = const PasswordInput.pure(),
    this.confirmedPassword = const ConfirmedPasswordInput.pure(),
    this.error,
  });

  CreatePasswordState copyWith({
    CreatePasswordStatus? status,
    PasswordInput? password,
    ConfirmedPasswordInput? confirmedPassword,
    String? error,
  }) {
    return CreatePasswordState(
      status: status ?? this.status,
      password: password ?? this.password,
      confirmedPassword: confirmedPassword ?? this.confirmedPassword,
      error: error ?? this.error,
    );
  }
  
  bool get isValid => 
    password.isValid && confirmedPassword.isValid;

  @override
  List<Object?> get props => [status, password, confirmedPassword, error];
}
