part of '{{ FEATURE_NAME_SNAKE }}_cubit.dart';

class {{ FEATURE_NAME_PASCAL }}State extends Equatable {
  const {{ FEATURE_NAME_PASCAL }}State({
    this.status = FormzSubmissionStatus.initial,
    this.errorMessage,
  });
  
  /// Status for loading states
  final FormzSubmissionStatus status;
  
  /// Error message
  final String? errorMessage;
  
  /// Helper to check loading state
  bool get isLoading => status.isInProgress;

  @override
  List<Object?> get props => [
    status,
    errorMessage,
  ];

  {{ FEATURE_NAME_PASCAL }}State copyWith({
    FormzSubmissionStatus? status,
    String? errorMessage,
  }) {
    return {{ FEATURE_NAME_PASCAL }}State(
      status: status ?? this.status,
      errorMessage: errorMessage,
    );
  }
}
