import 'package:get_it/get_it.dart';
import 'cubits/login_cubit/login_cubit.dart';
import 'cubits/register_cubit/register_cubit.dart';
import 'cubits/forgot_password_cubit/forgot_password_cubit.dart';
import 'cubits/verify_email_cubit/verify_email_cubit.dart';
import 'cubits/create_password_cubit/create_password_cubit.dart';
import 'cubits/welcome_cubit/welcome_cubit.dart';
import 'data/repository/auth_repository.dart';

Future<void> init(GetIt getIt) async {
  // Repositories
  getIt.registerLazySingleton<AuthRepository>(
    () => AuthRepositoryImpl(
      getIt(),
      getIt(),
    ),
  );
  
  // Cubits
  getIt.registerFactory(() => LoginCubit(getIt()));
  getIt.registerFactory(() => RegisterCubit(getIt()));
  getIt.registerFactory(() => ResetPasswordCubit(getIt()));
  getIt.registerFactory(() => VerifyEmailCubit(getIt()));
  getIt.registerFactory(() => CreatePasswordCubit(getIt()));
  getIt.registerFactory(() => WelcomeCubit(getIt()));
}
